// Fonts
$main_font: 'Poppins', sans-serif;

//Media Queries
$desktop: 1024px;
$tablet: 768px;
$phone: 480px;

// Colors
$blue: #0da6f3;
$white: #FFFFFF;
$grey: #e1e1e1;
$black: #1a1b15;

$separation: 5rem;

// Fonts Sizes

$bolder: 900;
$bold: 700;
$slim: 300;
$regular: 400;