.tabs {
  @include grid(3, 2rem);

  button {
    background-color: $white;
    border: none;
    font-size: 4rem;
    font-weight: $bold;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    
    &.actual {
      background-color: $blue;
      color: $white;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}